<div class="page">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"><i class="icon icon-back icon-only"></i></a></div>
            <div class="title">Página como template</div>
        </div>
    </div>
    
    <div class="page-content block">
        <p>Esta es una página como template.</p>
        <p>Los placeholders del template están declarados directamente en la página, sin templates aparte ni Javascript para cargar los datos.</p>
        <p>El contexto se setea directamente con una función en el router</p>
        <ul>            
            {{#each personajes}}
                <li>{{nombre}} (personaje en {{serie}})</li>
            {{/each}}
        </ul>
    </div>
    
</div>